@model IEnumerable<SittingType>
@{
    ViewData["Title"] = "ViewSittingType";
}

<h1>Sitting Types</h1>

<hr />

<form class="p-5">
    <button asp-action="AddSittingType" asp-controller="SittingType" class="btn btn-primary mb-3" style="margin-right:3ex">Add Sitting Type</button>
    <button asp-action="ViewSitting" asp-controller="Sitting" class="btn btn-primary mb-3">Back</button>
    <table class="table-responsive table-hover table-bordered" style="width:100%">
        <thead>
            <tr class="active" style="color:white; background-color: steelblue">
                <th class="text-center">Sitting Type</th>
                <th class="text-center" style="width:15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var sittingTypes in Model)
                {
                    <tr>
                        <td class="text-center">@sittingTypes.SittingTypeName</td>
                        <td class="text-center">
                            <div class="btn btn-sm">
                                <a asp-action="EditSittingType" asp-controller="SittingType" asp-route-id="@sittingTypes.Id" class="btn btn-outline-primary" style="margin-right:1ex"> Edit</a>
                                <a asp-action="DeleteSittingType" asp-controller="SittingType" asp-route-id="@sittingTypes.Id" class="btn btn-outline-danger" >Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="12">
                        <div>No sitting types available at the moment</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>