@model Reservation
@{
    ViewData["Title"] = "AddReservation";
}

<h1 class="text-light">Book Table - Guest View</h1>

<hr />

<form asp-area="" asp-controller="Home" asp-action="AddReservation" method="post" autocomplete="off" class="p-5">
    <div class="mb-3">
        <label class="form-label text-light">Reservation Name</label>
        <input type="text" class="form-control" asp-for="ReservationName" />
        <span asp-validation-for="ReservationName" class="text-danger" />
    </div>
    <div class="mb-3">
        <label class="form-label text-light">Start Time</label>
        <input type="datetime-local" class="form-control" asp-for="StartTime" />
        <span asp-validation-for="StartTime" class="text-danger" />
    </div>
    <div class="mb-3">
        <label class="form-label text-light">End Time</label>
        <p class="fst-italic">Bookings are for 2 hours each</p>
    </div>
    <div class="mb-3">
        <label class="form-label text-light">Number Of Guests</label>
        <input type="number" class="form-control" asp-for="NoOfGuests" />
        <span asp-validation-for="NoOfGuests" class="text-danger" />
    </div>
    <div class="mb-3">
        <label class="form-label text-light">Comments</label>
        <input type="text" class="form-control" asp-for="Comments" />
        <span asp-validation-for="Comments" class="text-danger" />
    </div>
    <div hidden class="mb-3">
        <label class="form-label text-light">Sitting Name</label>
        @Html.DropDownListFor(m=>m.SittingId, ViewBag.SittingVB as SelectList)
        <span asp-validation-for="SittingId" class="text-danger" />
    </div>
    <div hidden class="mb-3">
        <label class="form-label">Status</label>
        @Html.DropDownListFor(m=>m.ReservationStatusId, ViewBag.ReservationStatusVB as SelectList)
        <span asp-validation-for="ReservationStatusId" class="text-danger" />
    </div>
    <div hidden class="mb-3">
        <label class="form-label">Reservation Type</label>
        @Html.DropDownListFor(m=>m.ReservationTypeId, ViewBag.ReservationTypeVB as SelectList)
        <span asp-validation-for="ReservationTypeId" class="text-danger" />
    </div>
    <div hidden class="mb-3">
        <label class="form-label"></label>
        @Html.DropDownListFor(m=>m.MemberId, ViewBag.MemberVB as SelectList)
        <span asp-validation-for="MemberId" class="text-danger"/>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>



<!-- Modal -->
<div class="modal fade" id="onload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Add this line to your code -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thanks for visiting Bean Scene! 🍪</h5>
            </div>
            <div class="modal-body">
                Please consider becoming a member! 
                <p><a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Register">Please Register!</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Next time!</button>
            </div>
        </div>
    </div>
</div>


<!--Modal JS Script -->
<script type="text/javascript">
    window.onload = () => {
        const myModal = new bootstrap.Modal('#onload');
        myModal.show();
    }
</script>
