
@{
    ViewData["Title"] = "Confirmation";
}

<h1 class="text-light">Confirmation</h1>

<p>
    Thank you for booking with Bean Scene!
</p>
<p>
    A team member will be in touch to confirm your booking.
</p>

<div>
    <a asp-action="Insta" asp-area="" asp-controller="Home" class="btn btn-primary mb-3">Check Our Insta!</a>
</div>


