@model ReservationStatus
@{
    ViewData["Title"] = "DeleteReservationStatus";
}

<h1>Delete A Reservation Status</h1>

<hr />

<form asp-controller="ReservationStatus" asp-action="DeleteReservationStatus" method="post" autocomplete="off" class="p-5">

    <div class="mb-3">
        <label class="form-label"> Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Reservation Status</label>
        <input type="text" class="form-control" asp-for="ReservationStatusName" readonly />
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>