@model RoleCode
@{
    ViewData["Title"] = "Index";
}

<h1>Staff - Home</h1>


@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h4>Change Manager Code</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="ManagerCode" class="form-control" autocomplete="new-managercode" aria-required="false" />
                <label asp-for="ManagerCode"></label>
                <span asp-validation-for="ManagerCode" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Manager Code</button>
        </form>
    </div>

</div>*@